<!-- navigation start -->
<div class="container-fluid">
  <div class="row">

    <div class="col-md-2" style="height:1px"></div><div class="col-md-2 nav-container pt-md-0 pt-2">
      <nav class="navbar navbar-expand-md navbar-dark">
        <a class="navbar-brand m-0" href="index.html">
          <img src="logo.png" alt="Logo">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse text-uppercase lead font-weight-bold" id="navbarTogglerDemo02" style="letter-spacing: 0.3em;">
          <ul class="navbar-nav flex-column"><!-- healing creativity --><li class="nav-item">
<a class="nav-link" href="healing-creativity.html">Healing Creativity</a>
</li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                2010's
              </a>
              <div class="dropdown-menu text-center" aria-labelledby="navbarDropdownMenuLink" style="left: 100%;top: 0;">
                <a class="dropdown-item" href="paintings.html">Paintings</a>
                <a class="dropdown-item" href="metals.html">Metals</a>
                <a class="dropdown-item" href="installations.html">Installations</a>
                <a class="dropdown-item" href="illustrations.html">Illustrations</a>
                <a class="dropdown-item" href="exhibitions.html">Exhibitions</a>
                <a class="dropdown-item" href="catalina.html">Catalina</a>
              </div>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="2000s.html">2000's</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="1990s.html">1990's</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="1980s.html">1980's</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="about.html">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="sale.html">Sale</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="media.html">Media</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="contact.html">Contact</a>
            </li>
          </ul>
        </div>
      </nav>

    </div>
    <!-- navigation end -->
