<!DOCTYPE html>
<html>

	<head>
		<%- include('part/head', {title: "1990's"}); %>
	</head>

	<body>
		<%- include('part/nav', {}); %>
		<div class="col-md pr-md-5">
			<div class="gallery">
				<div class="isotope-size">
				</div>
			</div>
		</div>


		<%- include('part/content-end', {}); %>

	</body>
	<script>
		//generate gallery
		var imgPrefix = "./19902000/";
		var suffix = ".jpg";
		var padsize = 3;
		var pic_count = 100;
		var idx_start = 1;

	</script>
	<script src="js.js"></script>

</html>
