<!DOCTYPE html>
<html>

	<head>
		<%- include('part/head', {title: "ABOUT"}); %>
	</head>

	<body>
		<%- include('part/nav', {}); %>
		<!-- about start -->
		<div class="col-md-3 mt-md-5 mt-2 pt-md-5 mt-md-5">
			<img class="img-fluid p-md-2 mt-5" alt="Catalina Carassco" src="./about/catalina2.jpg" />
			<p class="mt-4 mt-md-0" style="text-align:center;font-size:1.2rem"> Stanford University • Pacific Art League • Visual Arts • Art Direction <br>Fine Arts • Illustration • Restoration</p>
		</div>
		<div class="col-md mt-md-5 mt-4 mr-sm-2 mr-md-4 mr-xl-5 p-md-5 mt-md-5">

			<p class="text-justify" style="font-size:1.2rem">
				Born in Cuenca, Ecuador, Catalina has developed in different geographical
				parameters and cultural spaces, in intimate contact with painting, music,
				literature, photography and performing arts. Her love for art, together with a
				playful approach to the free act of creating that she calls &quot;guiding star&quot; make her
				work an experimental compendium. She considers that her relationship with
				creativity is an act of persistent surprise in a yearning for observation and
				listening. She has stated that most of her work subsists as an arrow that emerges
				from an invisible bow. Each image, each assembly and installation is the result of
				a matter of courage without a traced destination. A continuity of impermanence,
				an intimate effort to enter into a trance and cross the borders through that
				untouchable echo: Art. &quot;
			</p>
			<p class="text-justify" style="font-size:1.2rem">
				Nacida en Cuenca, Ecuador, Catalina se ha desenvuelto en diversos parámetros
				geográficos y espacios culturales, en un contacto íntimo con la pintura, la música,
				la literatura, la fotografía y las artes escénicas. Su amor por el arte, junto con un
				enfoque lúdico hacia el acto libre de crear que ella llama &quot;estrella guía&quot; hace de
				su trabajo un compendio experimental. Considera que su relación con la
				creatividad es un acto de persistente sorpresa en un anhelo de observación y
				escucha. Ella ha declarado que la mayor parte de su trabajo subsiste como una
				flecha que se desprende de un arco invisible. Cada imagen, cada ensamblaje e
				instalación es el resultado de una cuestión de coraje sin un destino trazado. Una
				continuidad de impermanencia, un esfuerzo íntimo por ingresar en un trance y
				cruzar las fronteras, a través de ese eco Intocable: El Arte.
			</p>
		</div>

		<!-- about end -->
		<%- include('part/content-end', {}); %>
	</body>


</html>
