<!DOCTYPE html>
<html>

	<head>
		<%- include('part/head', {title: "HEALING CREATIVITY"}); %>
	</head>

	<body>
		<%- include('part/nav', {}); %>
		<div class="col-md pr-md-5">
			<div class="gallery">
				<div class="isotope-size">
					<!-- <div class=" gallery-item p-1 p-sm-2" style="width:66.6666666%">
              <div class="embed-responsive embed-responsive-16by9 rounded-sm">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/OXCCnyaQ9HU" ></iframe>
              </div>
            </div> -->
				</div>
			</div>
		</div>
		<%- include('part/content-end', {}); %>



	</body>
	<script>
		//generate gallery
		var imgPrefix = "./healing-creativity/";
		var suffix = ".jpg";
		var padsize = 3;
		var pic_count = 126;
		var idx_start = 1;

	</script>
	<script src="js.js"></script>

</html>
